{% extends 'core/base.html' %}
{% block title %}
{{ product.title }}
{% endblock %}
{% block content %}
<div class="mx-4">
    {% if product.image %}
        <div class="image mb-2">
            <img src="{{ product.image.url }}" alt="" />
        </div>
    {% endif %}

    <h1 class="text-2xl">
        {{ product.title }}
    </h1>
    <p class="text-xs text-gray-500">${{ product.get_display_price }}</p>
    {% if product.description %}
        <p class="mt-4">{{ product.description }}</p>
    {% endif %}
    
    <a href="{% url 'add_to_cart' product.id %}" class="mt-4 inline-block py-4 px-8 text-white bg-teal-600 font-bold rounded-md">Add to cart</a>
</div>
{% endblock %}