{% extends 'core/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<h1 class="text-2xl mb-4">About</h1>
<p class="font-light my-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae expedita vero consequuntur laborum quibusdam suscipit, quaerat, fugit debitis nemo laboriosam rem doloremque! Nemo minus, impedit amet quasi mollitia explicabo fuga labore ipsum ab deserunt neque id consectetur fugiat dolor vero earum numquam pariatur magnam qui ea vel odio enim doloremque.
</p>
<p class="font-light my-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium architecto maiores rerum, repellendus iste tempora quibusdam et non consequatur illum saepe culpa eligendi quia laboriosam, officiis id quasi nobis placeat.
</p>
<p class="font-light my-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur facere reiciendis, rem veritatis alias, odit reprehenderit itaque placeat dolores, similique et iusto soluta esse neque eos incidunt obcaecati? Delectus, ipsam!
</p>
<p class="font-light my-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nemo eveniet culpa ea? Dolore temporibus cupiditate suscipit quis maiores labore.
</p>
<p class="font-light my-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nemo eveniet culpa ea? Dolore temporibus cupiditate suscipit quis maiores labore.
</p>
{% endblock %}