{% load menu %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="border-box w-4/5 mx-auto">
      <nav class="bg-[#fafaf9] mb-4 px-6 py-4 flex items-center justify-between">
        <div class="logo">
          <a href="/" class="font-bold">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M2.25 5.25a3 3 0 013-3h13.5a3 3 0 013 3V15a3 3 0 01-3 3h-3v.257c0 .597.237 1.17.659 1.591l.621.622a.75.75 0 01-.53 1.28h-9a.75.75 0 01-.53-1.28l.621-.622a2.25 2.25 0 00.659-1.59V18h-3a3 3 0 01-3-3V5.25zm1.5 0v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5z" clip-rule="evenodd" />
            </svg>               -->
            APPLE
          </a>
        </div>

        <div class="search">
          <form action="/search/" method="GET" class="flex items-center">
            <input type="text" name="query" placeholder="Search..." class="rounded-xl py-2 px-4" />
            <button>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
              </svg>              
            </button>
          </form>
        </div>

        <div class="menu flex items-center space-x-4">
          {% menu %}
          {% if request.user.is_authenticated %}
            <a href="{% url 'cart_view' %}" class="py-2 px-4 bg-[#e7e5e4] rounded-md">Cart ({{ cart|length }})</a>
            <a href="{% url 'myaccount' %}" class="py-2 px-4 bg-[#e7e5e4] rounded-md">My account</a>
            {% if request.user.username == 'admin' %}
              <a href="{% url 'my_store' %}" class="py-2 px-4 bg-[#e7e5e4] rounded-md">My store</a>
            {% endif %}
          {% else %}    
            <a href="{% url 'login' %}" class="py-2 px-4 bg-[#e7e5e4] rounded-md">Login</a>
          {% endif %}
        </div>
      </nav>
      {% block content %}
      {% endblock %}
    </div>
</body>
</html>